html{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

head{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color:black ;
}

body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color:black ;
    overflow-y: hidden;
}


div{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: hidden;
}


img{
    height: 100%;
}

p1{
    position: fixed;
    color: white;
    opacity: .5;
}

a{
    text-decoration: none;
}