html{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

head{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

iframe{
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-image:url(IMG_2353.gif);
    background-size: cover;
}

div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

img{
    height: 200px;
}

h1{
    color: white;
    text-align: center;
    vertical-align: middle;
}

a{
    text-decoration: none;
}