html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0%;
}

head{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* iframe{
    transform: rotate(-90deg);
} */

body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: black;
    overflow-y: hidden;
}

div{
    display: flex;
    flex-direction: row;
    height: 100%;
}

img{
    height: 100%;
}

p1{
    position: fixed;
    color: white;
    opacity: .5;
}

h1{
    color: white;
    text-align: center;
    vertical-align: middle;
}

a{
    text-decoration: none;
}

/* .move{
    animation-name: move;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes move{
    from{transform:translate(-10%)}
} */